/* 
  @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Fjalla One, sans-serif"; */
}

body {
  background-color: aliceblue;
}
header {
  position: sticky;
  background-color: navy;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-family: cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 10;
}

#input-container {
  border-radius: 10px;
  position: relative;

  background-color: white;
  margin: 10px 50px;
  text-align: center;
  padding: 30px;
  box-shadow: 1px 2px 10px black;
}

#input-name {
  width: 50vw;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid #000000;
  background-color: rgb(246 253 253);
  text-align: center;
}
#btn {
  padding: 10px;
  background-color: rgb(59, 59, 177);
  border: none;
  border-radius: 6px;
  margin-left: 10px;
  width: 70px;
  color: rgb(255, 255, 255);
}
#btn:hover {
  background-color: #0000ff;
  color: white;
  cursor: pointer;
  padding: 9px;
}
#btn:active {
  background-color: rgb(3, 3, 39);
  padding: 11px;
}
#content {
  /* background-color: rgb(209, 125, 125); */
  margin: 20px 50px;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  border-radius: 5px;
  font-weight: bolder;
  background-color: #fff;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 10px black;
}
ul {
  list-style: none;
}
ul:first-child {
  margin-top: 10px;
}
.food-items {
  min-width: 40vw;
  max-width: fit-content;
  border-radius: 5px;
  border: 1px solid rgb(112, 108, 108);
  margin-bottom: 10px;
  padding: 5px;
  color: rgb(41, 37, 37);
  font-size: 18px;
  font-weight: lighter;
  text-transform: capitalize;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
#input-name::placeholder {
  color: gray;
  text-align: center;
}
#alert {
  padding: 4px;
  margin-top: 2px;
  width: fit-content;
  background-color: rgb(0, 243, 12);
  margin-left: 50%;
  transform: translate(-50%);
  color: black;
  text-align: center;
  border-left: 5px solid green;
  /* border-radius: 10px; */
  position: absolute;
  z-index: 3;
  transition: all;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
.food-items:hover {
  background-color: #405cf5;
  color: white;
}
.xbtn {
  font-size: 17px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-bottom: 2px;
  margin-right: 5px;
  color: rgb(41, 37, 37);
}
.xbtn:hover {
  color: #fff;
}

#next-container {
  height: 50px;
  width: 80vw;
  margin: 20px 50px;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  border-radius: 5px;
  font-weight: bolder;
  background-color: #fff;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 10px black;
  margin-left: 50%;
  transform: translate(-50%);
}

#next-container ~ button {
  color: white;
  background-color: navy;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
  /* margin-left: auto; */

  margin-left: 50%;
  transform: translate(-50%);
}
#next-container ~ button:hover {
  background-color: rgb(37, 37, 161);
}
#next-container ~ button:active {
  background-color: navy;
  margin-top: 2px;
  /* text-align: center; */
}
#reset {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(236, 31, 31, 0.89);
  color: white;
  /* font-size: 15px; */
}
#reset:hover {
  background-color: rgb(192, 5, 5);
  font-weight: bold;
}
#reset:active {
  background-color: rgba(236, 31, 31, 0.89);
  padding: 11px 21px;
  font-weight: bolder;
}
#terms-container {
  padding: 20px;
  background-color: #fff;
  width: 80vw;
  height: auto;
  /* margin-top: 50%; */
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 1px 2px 5px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#terms-input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
}

#terms-btn {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: navy;
  color: white;
  /* font-size: 15px; */
}
#terms-btn:hover {
  background-color: rgb(39, 39, 196);
  font-weight: bold;
}
#terms-btn:active {
  background-color: rgb(15, 15, 129);
  padding: 9px 19px;
  font-weight: bolder;
}
#nav-btn {
  margin-right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(107, 107, 189);
  color: white;
  box-shadow: 1px 2px 2px black;

  /* font-size: 15px; */
}
#nav-btn a {
  color: white;
  text-decoration: none;
}
#nav-btn:hover {
  background-color: rgb(39, 39, 196);
}
#nav-btn:active {
  background-color: rgb(8, 8, 36);
}
#main h1 {
  text-align: center;
  font-family: cursive;
  margin-top: 10px;
  margin-bottom: 20px;
  text-decoration: underline;
}
table {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin-left: 50%;
  transform: translate(-50%);
}
table tr,
td,
th {
  padding: 5px 20px;
  border: 2px solid black;
  cursor: default;
}

tr th {
  background-color: rgb(50, 19, 187);
  color: white;
}
#Support-btn button {
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 30px;
  margin-right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(57, 177, 20);
  color: white;
  /* font-size: 15px; */
}

#Support-btn button:hover {
  background-color: rgb(52, 189, 47);
}
#Support-btn button:active {
  background-color: rgb(24, 167, 11);
}
#donation-input {
  display: none;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#donation-input input {
  height: 30px;
  border-radius: 2px;
  border: 1px solid black;
  padding: 10px;
}

#donation-input i {
  font-size: 20px;
  margin-top: 5px;
  margin-right: 5px;
}
#donation-input button {
  margin-left: 10px;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(7, 131, 125);
  color: white;
  /* font-size: 15px; */
}

#donation-input button:hover {
  background-color: rgb(31, 182, 174);
}
#donation-input button:active {
  background-color: rgb(7, 97, 92);
}
#alert-msg {
  padding: 10px;
  width: fit-content;
  height: fit-content;
  background-color: greenyellow;
  margin-left: 50%;
  transform: translate(-50%);
  box-shadow: 2px 2px 10px black;
  text-align: center;
  /* padding-bottom: 20px; */
  visibility: hidden;
  margin-bottom: 20px;
}
tr.active {
  background-color: aqua;
}
#form-btn {
  margin-left: auto;
  margin-right: 10px;
}
@media (max-width: 750px) {
  #btn {
    position: absolute;
    padding: 10px;
    background-color: rgb(59, 59, 177);
    border: none;
    border-radius: 6px;
    margin-left: 10px;
    /* flex-direction: column; */
    display: block;
    width: 70px;
    color: rgb(255, 255, 255);
    top: 80px;
    left: 30%;
  }
  #reset {
    position: absolute;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(236, 31, 31, 0.89);
    color: white;
    display: block;
    top: 80px;
    left: 50%;
    /* font-size: 15px; */
  }
  #input-container {
    border-radius: 10px;
    position: relative;
    height: 130px;
    background-color: white;
    margin: 10px 50px;
    text-align: center;
    padding: 30px;
    box-shadow: 1px 2px 10px black;
  }
}

#form-btn button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(107, 107, 189);
  color: white;
  box-shadow: 1px 2px 2px black;
  /* font-size: 15px; */
}
#form-btn button:hover {
  background-color: rgb(39, 39, 196);
}
#form-btn button:active {
  background-color: rgb(8, 8, 36);
}
#form * {
  width: 100%;
  color: gray;
}
#form {
  width: 50vw;
  height: auto;
  background-color: #fff;
  padding: 20px;
  margin-left: 50%;
  transform: translate(-50%);
  box-shadow: 2px 2px 10px black;
  border-radius: 7px;
  /* display: flex; */
  margin-bottom: 30px;
}
.d-flex {
  display: flex;
  /* align-items: center; */
}
#text-input input,
#email input {
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid gray;
}

#radio {
  margin-bottom: 20px;
}
#largetext textarea {
  height: auto;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}
#checkbox {
  margin-bottom: 5px;
}
#submit button {
  /* margin-top: 10px;
  height: 30px;
  border-radius: 3px;
  text-align: center;
  border: 1px solid gray;
  color: blue; */
  margin-top: 10px;
  width: 80%;
  margin-left: 50%;
  transform: translate(-50%);
  border: none;
  padding: 0.8em 2.5em;
  outline: none;
  color: white;
  font-style: 1.2em;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: none;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}
#submit button:hover::before {
  width: 108%;
  height: 120%;
}
#submit button::before,
#submit button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10em;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 105%;
  height: 105%;
  content: "";
  z-index: -2;
  background-size: 400% 400%;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
}
#submit button::before {
  -webkit-filter: blur(7px);
  filter: blur(7px);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-animation: pulse 10s infinite ease;
  animation: pulse 10s infinite ease;
}
#submit button::after {
  -webkit-filter: blur(0.3px);
  filter: blur(0.3px);
}
#image {
  width: 50vw;
  height: 300px;
  /* border: 2px solid black; */
  /* position: absolute; */
}
#image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
#count {
  position: absolute;
  top: 75px;
  left: 87%;
  margin-right: 10px;
}
footer {
  background-color: rgb(115 131 128);
  min-height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 10px;
 
}
#left-container,
#right-container {
  /* position: absolute;
  top: 50%;
  transform: translate(-50%); */
  margin-top: 10px;
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
}
#right-container{
  width: 20% !important;

}

.fname {
  font-weight: lighter;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: left;
  /* padding: 5px; */
  /* margin: 10px; */

  height: 30px;
  width: 100%;
  color: white;
}
.fname a {
  text-decoration: none;
}
.head {
  font-weight: lighter;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: left;
  /* padding: 5px; */
  /* margin: 10px; */

  height: 30px;
  width: 100%;
  color: white;
  line-height: 30px;
}
.fcont,
.fcont h3 {
  line-height: 30px;
  /* margin-bottom: 10px; */
  font-weight: lighter;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: left;
  /* padding: 5px; */
  /* margin: 10px; */

  height: 30px;
  width: 100%;
  color: white;
}

.logos i{
  /* display: block; */
  margin-top: 10px;
  font-size: 25px;
  height: 30px;
  margin-right: 20px;
  /* color: white  ; */

}
.logos{
  margin-left: 10px ;
}
